{% extends 'base.html' %}  <!-- синтаксис шаблонизатора jinja -->

{% block title %}
История заказов
{% endblock %}

{% block body %}
<div class="container">
    <h1>История заказов</h1>

    {% if user_orders|length > 0 %}

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Номер заказа</th>
                    <th scope="col">Отпавление</th>
                    <th scope="col">Прибытие</th>
                    <th scope="col">Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for order in user_orders %}
                <tr>
                    <th scope="row">{{ order.order_num }}</th>
                    <td>{{ order.order.start }}</td>
                    <td>{{ order.order.finish }}</td>
                    <td>{{ order.order.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>Заказов пока что нет</p>
    {% endif %}
</div>
{% endblock %}